<mat-card>    
  <h1>About</h1>
  <hr>
  <mat-card-content>    
      <p>
        <span class="logo-font">khabor</span> (খবৰ) means NEWS in ASSAMESE.
      </p>
    <p>
      <span class="logo-font">khabor</span> is a NEWS app kind of like google news.
    </p>    
    <p>it's build with <a href="https://angular.io">Angular</a> and Powered by <a href="https://newsapi.org">newsapi.org</a></p>
    <p>Advantage of <span class="logo-font">khabor</span> are:</p>
    <ul>
      <li>No personal data of the user is required. That's why I didn't added weather info as it required the visitor IP or Geo Location</li>
      <li>Newsapi will gives the same result for all. Doesn't matter who, where, what you are!</li>      
    </ul>
    <p>Selected INDIA as default country as I'm INDIAN. You can change it from settings</p>
    <p>Disclaimer: I am not promoting <a href="https://newsapi.org">newsapi.org</a> in any way. I am using there Developer Option which is free for all non-commercial projects.</p>    

    <P>Like it. Vote it.</P>
  </mat-card-content>    
</mat-card>