.settings {
  padding: 10px;
  // display: flex;
  // justify-content: center;
//   background: aquamarine;  
//   height: 100vh;
}

mat-card {
  min-width: 50vw;
  display: flex;
  justify-content: center;
}
